body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/191/original/Background.jpg?1678055621");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: "Aboreto", cursive;
  font-family: "IBM Plex Mono", monospace;
}

.content {
  margin: 50px 380px;
  border: solid white 5px;
  border-radius: 25px;
  padding: 10px 50px 10px 50px;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
}

h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
}

h4 {
  margin-top: 10px;
  font-size: 20px;
}

h5 {
  margin-top: 15px;
  font-size: 18px;
}

h5:hover {
  transform: scale(1.5);
  cursor: grab;
}

.search-bar {
  margin-top: 10px;
  font-size: 20px;
}

.current-temp,
.current-wind-humidity {
  border: solid white 3px;
  border-radius: 50%;
  height: 200px;
  padding-top: 70px;
  font-size: 20px;
  margin: 10px 45px 35px 45px;
  width: 200px;
}

.current-temp:hover {
  transform: scale(1.5);
}

.current-wind-humidity:hover {
  transform: scale(1.5);
}

.card {
  background: transparent;
  border: solid white 3px;
  width: 100px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-left: 5px;
}

.day-one {
  margin-right: 15px;
}

.day-one:hover {
  transform: scale(1.5);
}

.day-two:hover {
  transform: scale(1.5);
}

.day-three:hover {
  transform: scale(1.5);
}

.day-four:hover {
  transform: scale(1.5);
}

.day-five:hover {
  transform: scale(1.5);
}

.btn {
  border: solid white 3px;
  font-weight: 700;
  margin-left: 15px;
}

.btn:hover {
  transform: scale(1.5);
  background-color: transparent;
  color: white;
}

form {
  opacity: 0.5;
}

.currentLocation {
  border: solid white 3px;
  font-weight: 700;
  margin: 15px auto;
  background-color: transparent;
  border-radius: 5px;
  color: white;
}

.currentLocation:hover {
  transform: scale(1.5);
  background-color: transparent;
  color: white;
}

.footer {
  margin-top: 20px;
  font-size: small;
}

a:visited {
  color: white;
  text-decoration: none;
}
